* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.background-gradient {
  background: linear-gradient(
    to bottom right,
    #22d3ee 15%,
    #cffafe 50%,
    #fff 75%,
    #22d3ee 95%
  );
}

.first-slider-gradient {
  background: linear-gradient(
    to bottom left,
    #e56ab0 2%,
    #cffafe 25%,
    #fff 70%,
    #22d3ee 95%
  );
}

.scroll-text {
  height: 340px;
  direction: rtl;
  border-bottom: 10px solid #fff;
}

.text-direction {
  direction: ltr;
}

.scroll-text::-webkit-scrollbar {
  width: 5px;
  max-height: 20%;
  height: 20%;
}

.scroll-text::-webkit-scrollbar-track {
  background: #000;
}

.scroll-text::-webkit-scrollbar-thumb {
  background: #e56ab0;
  outline: 7px solid #e56ab0;
  border-radius: 20px;
  height: 20px;
}

.modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}

.modal-content {
  background-color: white;
  border-radius: 20px;
  margin: 3% auto;
  width: 60%;
}
