* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background-gradient {
  background: linear-gradient(
    to bottom right,
    #22d3ee 15%,
    #cffafe 50%,
    #fff 75%,
    #22d3ee 95%
  );
}
