* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background-gradient {
  background: linear-gradient(
    to bottom right,
    #22d3ee 15%,
    #cffafe 50%,
    #fff 75%,
    #22d3ee 95%
  );
}

.first-slider-gradient {
  background: linear-gradient(
    to bottom left,
    #e56ab0 2%,
    #cffafe 25%,
    #fff 70%,
    #22d3ee 95%
  );
}

.scroll-text {
  height: 340px;
  direction: rtl;
}

.text-direction {
  direction: ltr;
}

.scroll-text::-webkit-scrollbar {
  width: 5px;
  max-height: 20%;
  height: 20%;
}

.scroll-text::-webkit-scrollbar-track {
  background: #000;
}

.scroll-text::-webkit-scrollbar-thumb {
  background: #e56ab0;
  outline: 7px solid #e56ab0;
  border-radius: 20px;
  height: 20px;
}
